.pc-main
{
    display: flex;
    width: 70vw;
    height: 50vh;
}

.pc-main img
{
    width: 50%;
    height: 70%;
    border-radius: 10px;
}

.information-container
{
    color: white;
    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    width: 50%;
    height: 70%;
    position: relative;
    top: 5rem;
    right: 10rem;
}

.information-container h1
{
    font-family: 'Bebas Neue';
    letter-spacing: 1rem;
    text-align: right;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.information-container p
{
    font-family: 'Montserrat';
    font-size: 1rem;
    text-align: justify;
    margin-left: 1rem;
    margin-right: 3rem;
    height: 50%;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.pc-buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    gap: 2rem;
}

.pc-button-1
{
    height: 1.2rem;
    width: 1.2rem;
}

.pc-button-2
{
    width: 1.2rem;
    height: 1.2rem;
}