.tp-main
{
    height: 100%;
    background-color: #222222;
}

.third-page-information
{
    color: white;
}

.third-page-information h1 
{
    font-family: 'Montserrat', cursive;
    font-size: 10rem;
    text-align: center;
    letter-spacing: 2rem;
    -webkit-text-stroke:1px rgb(255, 255, 255);
    -webkit-text-fill-color:transparent;
}

.third-page-information p 
{
    font-family: 'Montserrat';
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.tp-content-left
{
    width: 100%;
    display: flex;
    margin-left: 5rem;
}

.tp-content-right
{
    display: flex;
    justify-content: right;
    margin-right: 5rem;
}

.tp-cards
{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 1rem;
}